name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  basic-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: List files
        run: ls -la

      - name: Show app.txt
        run: cat app.txt

